.label-campo {
    display: block;
}

.campo{
    border-color: rgb(53, 58, 70);
    border-width: 0.8px;
    border-radius: 4px;
    width: 300px;
    padding: 7px 11px;
    box-sizing: content-box;
    margin-bottom: 10px;
}

.campo:hover,
.campo:focus-within{
    border-color: rgb(63, 88, 255);

}

.button-cadastrar{
padding: 10px 20px;
color: white;
background-color: #007bff;
border-radius: 5px;
cursor: pointer;
font-size: 14px;
font-weight: 10px;
margin-top: 10px;
border: none;

/* 
text-tranform: é ultilizado para alterar para tudo maiísculo, minusculo ou capitlizado
*/

text-transform: uppercase;
}


.button-cadastrar:hover{
    background-color: #0470e3;
}


.button-cancelar{
    padding: 10px 20px;
    color: rgb(250, 53, 63);
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    border: solid rgb(250, 53, 63);
}

.button-cancelar:hover{
    background-color: rgb(250, 53, 63);
    color: white;
}

.campo-upload{
    display: none;

}

.label-campo-upload{
    cursor: pointer;
    background-color: lightgray;
    padding: 5px 5px;
    border-radius: 4px;
    border: solid rgb(170, 175, 179);
    display: inline-block;

}

.label-campo-upload:hover{
    background-color: gray;
}
