.botao{
    text-decoration: none;
    background-color:crimson;
    width: 100px; /* Width é ultilizado para defenir a  largura do elemento */
    height: 30px; /*height é ultilizado para definir a altura do elemento */
    text-align: center;
    display: inline-block; /* nos proximos capitulos*/
    color: black;
}

.botao:hover{ /*hover é para mudar a cor ao passar o mause em cima*/
    background-color: rgb(47, 0, 255);
    opacity: 0.9; /*Alterar a opacidade cor de fundo do botão para 90% */
}
.negrito{
    font-weight: bold;
}

.largura-150{
    width: 150px;
}